extends ../layout

block content
  h2= modelEntity.fullname
  h3= modelEntity.profession
  p= modelEntity.description
  a(href="mailto:" + modelEntity.email) Email
  | | 
  a(href="http://www.twitter.com/" + modelEntity.twitter) Twitter
  br
  br
  span= modelEntity.created.toGMTString()
  p by #{modelEntity.author.fullname}
  br
  br
  div
    a(href="/persons/edit/" + modelEntity.id) Edit 
    | | 
    a(href="/persons/remove/" + modelEntity.id) Delete
  br
  br
  .comments
    h3 Comments
    ul
      each comment in comments
        li
          p.text= comment.text
          p.author= comment.author
    if session.isLoggedIn
      h3 Leave a Comment
      form(method="post", action="/persons/comment/" + modelEntity.id)
        textarea(name="text")
        input(type="submit", value="Save")