extends layout

block content
  - var action = movie ? "/movies/" + parseInt(id) : "/movies"
  - var method = "post"
  - var title = movie ? movie.title : "Title"
  - var tagline = movie ? movie.tagline : "Tagline"
  - var released = movie ? movie.released : "Released"
  .android-content.mdl-layout__content
    .android-be-together-section.mdl-typography--text-center
      form(action=action,  method=method, name="addMovie")
        input(type="text", value=title , name="title")
        input(type="text", value=tagline, name="tagline", size="50")
        input(type="number", value=released, name="released")
        button(type="submit") Submit
      a(href="/movies/remove/" + parseInt(id)) Delete