extends layout
include mixins/readBulkMdlCards.jade

block content
  .android-content.mdl-layout__content
    a(name='top')
    .android-be-together-section.mdl-typography--text-center
      .logo-font.android-slogan fliXnet
      div(style="margin-bottom:20px;").logo-font.android-sub-slogan - #{localesMenu['The Movie Graph']} -
      style.
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
          }
        .link {
          stroke: #999;
          stroke-opacity: .6;
          }
      #graph
      script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
      script.
        var width = 960,
            height = 600;

        var color = d3.scale.category20();

        var force = d3.layout.force()
            .charge(-120)
            .linkDistance(30)
            .size([width, height]);

        var svg = d3.select("#graph").append("svg")
            .attr("width", width)
            .attr("height", height);

        d3.json("/api/graph", function(error, graph) {
          if (error) throw error;

          force.nodes(graph.graph.nodes).links(graph.graph.links).start();

          var link = svg.selectAll(".link")
              .data(graph.graph.links)
              .enter().append("line")
              .attr("class", "link");

          var node = svg.selectAll(".node")
              .data(graph.graph.nodes)
              .enter().append("circle")
              .attr("class", "node")
              .attr("r", 5)
              .style("fill", function(d) { return color(d.label); })
              .call(force.drag);

          node.append("title")
              .text(function(d) {
                if(d.name === undefined) { return d.title; } 
                if(d.title === undefined) { return d.name; }; });

          link.append("title")
              .text(function(d) { return d.value; });

          force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          });
        });
      //- .logo-font.android-create-character
      //-   a(href='')
      //-     img(src='images/andy.png')
      //-     |  create your android character
      //- a(href='#screens')
      //-   button.android-fab.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
      //-     i.material-icons expand_more
    //- .android-screen-section.mdl-typography--text-center
    //-   a(name='screens')
    //-   .mdl-typography--display-1-color-contrast Display 1 color contrast
    //-     form(name="addMovie", action="/movies",  method="post")
    //-       input(type="text", placeholder="Movie Title", name="title")
    //-       input(type="text", placeholder="Movie Tagline", name="tagline")
    //-       input(type="number", placeholder="Released Date", name="released")
    //-       button(type="submit") Submit
    //-   .android-screens
    //- .android-wear-section
    //-   .android-wear-band
    //-     .android-wear-band-text
    //-       .mdl-typography--display-2.mdl-typography--font-thin Display 2
    //-       p.mdl-typography--headline.mdl-typography--font-thin
    //-         | Headline Headline Headline Headline
    //-       p
    //-         a.mdl-typography--font-regular.mdl-typography--text-uppercase.android-alt-link(href='')
    //-           | Text uppercase
    //-           i.material-icons chevron_right
    //- .android-customized-section
    //-   .android-customized-section-text
    //-     .mdl-typography--font-light.mdl-typography--display-1-color-contrast Display 1 color contrast
    //-     p.mdl-typography--font-light
    //-       | Font ligth: Font ligth: Font ligth: Font ligth: Font ligth: Font ligth:
    //-       br
    //-       a.android-link.mdl-typography--font-light(href='') Font ligth as link
    //-   .android-customized-section-image
    .android-more-section
      .android-section-title.mdl-typography--display-1-color-contrast Latest Movies:
      +moviesReadBulkMdlCards
      .android-section-title.mdl-typography--display-1-color-contrast Top Actors:
      .android-card-container.mdl-grid#TopPersons
        script.
          app.divBuilder('/api/graph/read/top/persons?relationshipName=ACTED_IN', '#{locale}', "#{localesCommands['Show']}");
      //- .android-card-container.mdl-grid
      //-   .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
      //-     .mdl-card__media
      //-       img(src='/images/more-from-1.png')
      //-     .mdl-card__title
      //-       h4.mdl-card__title-text Card title text
      //-     .mdl-card__supporting-text
      //-       span.mdl-typography--font-light.mdl-typography--subhead Font ligth Subhead
      //-     .mdl-card__actions
      //-       a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
      //-         | Text uppercase
      //-         i.material-icons chevron_right
    footer.android-footer.mdl-mega-footer
      .mdl-mega-footer--top-section
        .mdl-mega-footer--left-section
          a(href='https://twitter.com/daten_und_bass', target='blank')
            button.mdl-mega-footer--social-btn.social-btn.social-btn__twitter
      //-   .mdl-mega-footer--right-section
      //-     a.mdl-typography--font-light(href='#top')
      //-       | Back to top
      //-       i.material-icons expand_less
      .mdl-mega-footer--middle-section
        p.mdl-typography--font-light #{localesMenu['The Movie Graph']} © 2016 daten&bass
        //- p.mdl-typography--font-light Some features and devices may not be available in all areas
      .mdl-mega-footer--bottom-section
        a#version-dropdown.android-link.android-link-menu.mdl-typography--font-light
          | #{localesMenu['Users']} 
          i.material-icons arrow_drop_up
        ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='version-dropdown')
          li.mdl-menu__item
            a.mdl-menu__item(href='/#{locale}') #{localesMenu['Home']}
        a#developers-dropdown.android-link.android-link-menu.mdl-typography--font-light
          | #{localesMenu['Developers']} 
          i.material-icons arrow_drop_up
        ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='developers-dropdown')
          li.mdl-menu__item
            a.mdl-menu__item(href='https://github.com/daten-und-bass', target='blank') #{localesMenu['Github Code']}
        a.android-link.mdl-typography--font-light(href='/#{locale}/imprint') #{localesMenu['Imprint']}
        a.android-link.mdl-typography--font-light(href='/#{locale}/contact') #{localesMenu['Contact']}