doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='nodeTestApp16')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{localesMenu['The Movie Graph']}
    // Page styles
    link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/material.min.css')
    link(rel='stylesheet', href='/styles.css')
    script(src='/app.js')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      .android-header.mdl-layout__header.mdl-layout__header--waterfall
        .mdl-layout__header-row
          span.android-title.mdl-layout-title
          //- Add spacer, to align navigation to the right in desktop
          .android-header-spacer.mdl-layout-spacer
          //- Top Navigation
          .android-navigation-container
            nav.android-navigation.mdl-navigation
              a.mdl-navigation__link.mdl-typography--text-uppercase(href='/#{locale}') #{localesMenu['Home']}
              a.mdl-navigation__link.mdl-typography--text-uppercase(href='/#{locale}/about') #{localesMenu['About']}
              a.mdl-navigation__link.mdl-typography--text-uppercase(disabled='') #{localesMenu['Login']}
          span.android-mobile-title.mdl-layout-title
          button#more-button.android-more-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons language
          ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='more-button')
            li.mdl-menu__item
              a.mdl-navigation__link(href='/en') English
            li.mdl-menu__item
              a.mdl-navigation__link(href='/de') Deutsch
            li.mdl-menu__item
              a.mdl-navigation__link(href='/es') Español 
            li.mdl-menu__item
              a.mdl-navigation__link(href='/fr') Français 
      // Fly-out Side Navigation
      .android-drawer.mdl-layout__drawer
        span.mdl-layout-title
        nav.mdl-navigation
          a.mdl-navigation__link(href='/#{locale}') #{localesMenu['The Movie Graph']}
          a.mdl-navigation__link(href='/#{locale}/graph/relationship/create') #{localesMenu['Create a Relationship']}
          .android-drawer-separator
          span.mdl-navigation__link(href='') #{localesMenu['Movies']}
          a.mdl-navigation__link(href='/#{locale}/movies/create') #{localesMenu['Create a Movie']}
          a.mdl-navigation__link(href='/#{locale}/movies') #{localesMenu['All Movies']}
          .android-drawer-separator
          span.mdl-navigation__link(href='') #{localesMenu['Persons']}
          a.mdl-navigation__link(href='/#{locale}/persons/create') #{localesMenu['Create a Person']}
          a.mdl-navigation__link(href='/#{locale}/persons') #{localesMenu['All Persons']}
      block content

    script(src='/material.min.js')

