extends ../layout

block content
  .top-section.mdl-typography--text-center
    .logo-font.android-sub-slogan #{slogan}:
    #source.logo-font.android-sub-slogan #{relationship.row[0]}
    #type(style='text-transform: lowercase;').logo-font.android-sub-slogan #{relationship.row[1]}
    #target.logo-font.android-sub-slogan '#{relationship.row[2]}'
    #property.logo-font.android-sub-slogan 

  script.
    app.toogleView(!{JSON.stringify(relationship)});