extends ../layout

block content
  .android-content.mdl-layout__content
    .android-be-together-section(style="height:100px;")
      .android-section-title.mdl-typography--display-1-color-contrast.mdl-typography--text-center(style="padding-top:20px;") #{localesStrings['<InstancePlural>']}
      .mdl-typography--font-light.mdl-typography--subhead.mdl-typography--text-center #{localesStrings['Filter Movies by Release Year']}:&nbsp;
        select#released(name='released', onchange="paramChanger(self.location.pathname, this.options[this.selectedIndex].value)")
          option(selected) #{localesStrings['All years']}
          each year in released
            option=year
    .android-more-section
      if inQueryParam
        .android-section-title.mdl-typography--display-1-color-contrast #{localesStrings['Results for all movies of']} #{inQueryParam} : 
      else
        .android-section-title.mdl-typography--display-1-color-contrast #{localesStrings['Results for all movies']}: 
      .android-card-container.mdl-grid
        each movie in movies
          .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
            .mdl-card__media
              i(style="opacity: 0.46;").material-icons movie
            .mdl-card__title
              h4.mdl-card__title-text #{movie.title}
            .mdl-card__title
              i(style="opacity: 0.46;").material-icons date_range &nbsp;
              h4.mdl-card__title-text #{movie.released} 
            .mdl-card__supporting-text
              span.mdl-typography--font-light.mdl-typography--subhead #{movie.tagline}
            .mdl-card__actions
              a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='') #{localesCommands['Show']} 

  script.
    document.getElementById('released').value = "!{inQueryParam}" ;

    function paramChanger(location, year) {
    console.log(isNaN(year))
      if(isNaN(year)) {
        self.location=self.location.pathname;
      } else {
        self.location=location + '?released=' + year;   
      }
    }

