extends ../layout

block content
  .android-content.mdl-layout__content
    .android-be-together-section.mdl-typography--text-center
      .logo-font.android-sub-slogan #{slogan}:
      .logo-font.android-sub-slogan #{localesStrings['Full Name']}: #{person.name}
      .logo-font.android-sub-slogan #{localesStrings['Birth Date']}: #{person.born}
