extends ../layout
include ../mixins/readBulkMdlCards.jade

block content
  .top-section
    .android-section-title.mdl-typography--display-1-color-contrast.mdl-typography--text-center(style="padding-top:20px;") #{localesStrings['<InstancePlural>']}
    .mdl-typography--font-light.mdl-typography--subhead.mdl-typography--text-center #{localesStrings['Filter Person by year of birth']}:&nbsp;
      select#born(name='born', onchange="app.changelocation(self.location.pathname, this.options[this.selectedIndex].value, 'born')")
        option(selected) #{localesStrings['All years']}
  .android-more-section
    if inQueryParam 
      if inQueryParam == -1
        .android-section-title.mdl-typography--display-1-color-contrast #{localesStrings['Results for all persons with unknown birth date']}: 
      else
       .android-section-title.mdl-typography--display-1-color-contrast #{localesStrings['Results for all persons of']} #{inQueryParam} : 
    else
      .android-section-title.mdl-typography--display-1-color-contrast #{localesStrings['Results for all movies']}: 
    +personsReadBulkMdlCards
  script.
    app.buildDynamicDropdowns(document.getElementById('born'), '/api/persons/read/distinct?propertyName=born', '#{inQueryParam}', '#{localesStrings["Unknown"]}');
  